<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    What I'm currently learning
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    <ul
      class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
    >
      <li>
        Building a RAG system with a weekly Telegram digest but using my Mac
        mini to host the LLM model.
      </li>
      <li>Learning Go - always wanted to learn a "fast" language</li>
      <li>
        Exploring Clojure (and Lisp) because for years I've heard learning it
        makes you a better programmer
       </li>
    </ul>
  </p>
</section>
